.img-heroes {
  aspect-ratio: 1/1;
  max-width: 450px;
}

.heroes-description {
  line-height: 2.5;
  font-size: 16px;
}

.heroes-description-footer {
  max-width: 500px;
}

@media (max-width: 1024px) {
  .img-heroes {
    max-width: 350px;
  }

  .heroes-description {
    line-height: 2.3;
    font-size: 14px;
  }

  .heroes-description-footer {
    max-width: 360px;
  }
}

@media (max-width: 768px) {
  .heroes {
    flex-direction: column;
  }

  .img-heroes {
    max-width: 100%;
  }

  .heroes-description {
    line-height: 2.3;
    font-size: 14px;
  }

  .heroes-description-footer {
    max-width: 100%;
  }
}
